.home-screen-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: #7785db;
  padding: 0px;
  margin: 0px;
}

.home-screen-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  max-width: 552px;
  height: 96.57%;
  max-height: 720px;
  background-color: white;
  border-radius: 24px;
}

.shopping-bag-image {
  width: 39.856%;
  height: 30.556%;
  margin: 13.044% 0px 4.53% 0px;
}

.home-screen-title {
  width: 55.62%;
  text-align: center;
  margin: 0px 0px 1.089% 0px;
}
.home-screen-subtitle {
  width: 56.16%;
  text-align: center;
  margin: 0px 0px 8.878% 0px;
}
.home-screen-text {
  width: 81.886%;
  margin: 0px 0px 4.638% 0px;
}

.home-screen-input-container {
  width: 81.886%;
  height: 56px;
  margin: 0px 0px 4.35% 0px;
}

.home-screen-button {
  width: 81.886%;
  height: 42px;
  min-height: 42px;
  margin: 0px 0px 13.23% 0px;
}

@media screen and (max-width: 767px) {
  .home-screen-title {
    width: 90%;
  }
  .home-screen-subtitle {
    width: 90%;
  }
  .home-screen-text {
    width: 90%;
  }

  .home-screen-input-container {
    width: 90%;
  }

  .home-screen-button {
    width: 90%;
  }
}
