.list-screen-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: #7785db;
  padding: 0px;
  margin: 0px;
}

.list-screen-content-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 80%;
  max-width: 1128px;
  height: 90%;
  max-height: 824px;
  background-color: white;
  border-radius: 24px;
  padding: 4.862% 6.667% 4.028% 6.667%;
  box-sizing: border-box;
}

.list-screen-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 2.6%;

  width: 100%;
}
.list-screen-header-text-container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;

  width: 100%;
  max-width: 500px;
}

.list-screen-header-button {
  width: 160px;
  height: 42px;
}

.list-screen-header-logo-image {
  width: 17.332%;
  height: 55.11%;
  align-self: center;
}
.list-screen-header-logo-title {
  font-size: 36px;
  margin-left: 2.4%;
}

.list-screen-list-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  max-width: 934px;
  height: 90%;

  overflow-y: scroll;
}

@media screen and (max-width: 767px) {
  .list-screen-content-container {
    width: 95%;
    height: 95%;
  }
  .list-screen-header {
    flex-direction: column;
  }
  .list-screen-header-logo-image {
    display: none;
  }
}
